<div class="main-wrapper">
    <header class="header-area">
        <div class="header-top border-bottom-1 py-1">
            <div class="container">
                <div class="row justify-content-between">

                    <div class="col-xl-4 col-lg-2">
                        <i class="icon-call-in"></i> +234 803 740 0149
                    </div>
                    <div class="col-xl-4 col-lg-5">

                    </div>
                </div>
            </div>

        </div>
        <div class="container">
            <div class="header-large-device">

                <div class="header-bottom">
                    <div class="row align-items-center">
                        <div class="col-xl-2 col-lg-2">
                            <div class="logo ">
                                <a href="/">
                                    <h1>STRANDS</h1>
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-8 col-lg-7">
                            <div
                                class="main-menu main-menu-padding-2 main-menu-center main-menu-font-width-400 main-menu-lh-1">
                                {{> nav}}
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-3">
                            <div class="header-top-right">
                                <div class="header-login-regi">
                                    <a href="/login"><i class="icon-user"></i> Log In / Register</a>
                                </div>
                                <div class="header-cart-2 d-flex align-content-center mr-3">
                                    <a class="cart-active" href="#"><i class="icon-basket-loaded"></i> <span
                                            class="black" style="bottom: 6px;">02</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-small-device small-device-ptb-1">
                <div class="row align-items-center">
                    <div class="col-6">
                        <div class="mobile-logo">
                            <h4>Strands</h4>
                        </div>
                        
                    </div>
                    <div class="col-6">
                        <div class="header-action header-action-flex">
                            <div class="same-style-2">
                                <a href="/shop"><i class="icon-home"></i></a>
                            </div>
                            <div class="same-style-2">
                                <a href="/login"><i class="icon-user"></i></a>
                            </div>
                            <div class="same-style-2 header-cart">
                                <a class="cart-active" href="#">
                                    <i class="icon-basket-loaded"></i><span class="pro-count black">02</span>
                                </a>
                            </div>
                            <div class="same-style-2 main-menu-icon">
                                <a class="mobile-header-button-active" href="#"><i class="icon-menu"></i> </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>