<div class="slider-area">
    <div class="container">
        <div class="hero-slider-active-1 nav-style-2 dot-style-2 dot-style-2-position-1 dot-style-2-active-black">
            <div class="single-hero-slider single-animation-wrap slider-height-1 custom-d-flex custom-align-item-center bg-img hm2-slider-bg"
                style="background-image:url(/images/slides/slide-hair-01.jpg);">
                <div class="row">
                    <div class="col-12">
                        <div class="hero-slider-content-2 slider-animated-1">
                            <h1 class="animated"><span>Strand</span> Hair <br>Collection</h1>
                            <p class="animated">Your one stop shop for all things hair and hair extensions.</p>
                            <div class="btn-style-2">
                                <a class="animated" href="/shop">explore now <i class="icon-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single-hero-slider single-animation-wrap slider-height-1 custom-d-flex custom-align-item-center bg-img hm2-slider-bg"
                style="background-image:url(/images/slides/slide-hair-02.jpg);">
                <div class="row">
                    <div class="col-12">
                        <div class="hero-slider-content-2 slider-animated-1">
                            <h1 class="animated"><span>Strand</span> Hair <br>Collection</h1>
                            <p class="animated">We stock the best in brands for all your extension needs.</p>
                            <div class="btn-style-2">
                                <a class="animated" href="/shop">explore now <i class="icon-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>