     <nav>
        <ul>
            <li><a href="/">HOME </a></li>
            <li><a href="/shop">SHOP </a></li>
            <li><a href="/shop">About Us </a></li>
            <li><a href="/shop">Contact </a></li>

        </ul>
    </nav>