<div class="col-lg-3">
    <div class="sidebar-wrapper sidebar-wrapper-mrg-right">
        <div class="sidebar-widget mb-2">
            <h4 class="sidebar-widget-title"><i class="icon-handbag"></i> Shop By : </h4>
        </div>

        <button class="accordion">Brands</button>
        <div class="panel w-100">
            <ul class="list-group list-group-flush">
                {{#if brands}}
                {{#each brands}}
                <li class="list-group-item border-0 py-1"><a class="d-block" href="/shop/brands/{{this}}">{{this}}</a>
                </li>
                {{/each}}
                {{/if}}
            </ul>
        </div>

        <button class="accordion">Colors</button>
        <div class="panel w-100">
            <ul class="list-group list-group-flush">
                {{#if colors}}
                {{#each colors}}
                <li class="list-group-item border-0 py-1"><a class="d-block" href="/shop/color/{{this}}">{{this}}</a>
                </li>
                {{/each}}
                {{/if}}
            </ul>
        </div>


    </div>
</div>