.main-menu.main-menu-lh-1 > nav > ul > li {
  line-height: 70px;
}
.mobile-header-active {
  position: fixed;
  top: 0;
  width: 350px;
  min-height: 100vh;
  bottom: 0;
  z-index: 111;
  left: 0;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 400ms ease-out;
  -o-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
  -webkit-transform: translate(-350px, 0);
  -ms-transform: translate(-350px, 0);
  transform: translate(-350px, 0);
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 15px 0 rgb(0 0 0 / 9%);
  box-shadow: 0 0 15px 0 rgb(0 0 0 / 9%);
  z-index: 9999;
}

.mobile-header-active .clickalbe-sidebar-wrap .sidebar-close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 30px;
  line-height: 30px;
  -webkit-transition: all 250ms ease-out;
  -o-transition: all 250ms ease-out;
  transition: all 250ms ease-out;
  color: #000000;
}
@media only screen and (max-width: 767px) {
  .mobile-header-active .clickalbe-sidebar-wrap .sidebar-close {
    right: 20px;
  }
}
